{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "next",
    "next/core-web-vitals",
    "prettier",
    "plugin:primer-react/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": ["jsx-a11y"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["."]
      }
    }
  },
  "overrides": [
    {
      "files": ["tests/**"],
      "plugins": ["vitest"],
      "extends": [
        "plugin:vitest/recommended",
        "plugin:vitest-globals/recommended"
      ],
      "rules": {
        "vitest/no-conditional-in-test": "error",
        "vitest/no-disabled-tests": "warn"
      },
      "env": {
        "vitest-globals/env": true
      }
    },
    {
      "files": ["infra/scripts/**"],
      "rules": {
        "no-console": "off"
      }
    }
  ],
  "rules": {
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "import/no-useless-path-segments": [
      "error",
      {
        "noUselessIndex": true
      }
    ],
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "groups": [["builtin", "external"], "internal", ["parent", "sibling", "index"]],
        "newlines-between": "always",
        "pathGroups": [
          {
            "pattern": "@/**",
            "group": "internal"
          }
        ]
      }
    ],
    "sort-imports": [
      "error",
      {
        "allowSeparatedGroups": true,
        "ignoreCase": true,
        "ignoreDeclarationSort": true
      }
    ],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-control-regex": "off",
    "no-sparse-arrays": "off",
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used"
      }
    ]
  }
}
