{
  "printWidth": 120,
  "singleQuote": true,
  "bracketSameLine": true,
  "importOrder": ["^(errors|fonts|infra|models|queries|tests|pages)/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true
}
